/* Grunddesign für Tabellen im GoF-Stil */
.md-typeset table:not([class]) {
    border-collapse: collapse;
    display: table; /* Verhindert das Scrollen, falls nicht nötig */
    width: 100%;
}

/* Der typische dunkle Header für Tabellen */
.md-typeset table:not([class]) thead th {
    background-color: #3e3e3e; /* Dunkles GoF-Grau/Schwarz */
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
}

/* Spezifische Farben für Infoboxen (Admonitions) */

/* 1. Zweck / Motivation (Klassisch Grau/Schwarz) */
.md-typeset .admonition.info {
    border-left: 0.2rem solid #333;
}
.md-typeset .info > .admonition-title {
    background-color: #333 !important; /* Schwarz/Dunkelgrau */
}

/* 2. Erzeugungsmuster (Braun-Ton) */
.md-typeset .admonition.abstract {
    border-left: 0.2rem solid #8b5a2b;
}
.md-typeset .abstract > .admonition-title {
    background-color: #8b5a2b !important; /* Klassisches Braun */
    color: white !important;
}

/* 3. Strukturmuster (Grün-Ton) */
.md-typeset .admonition.success {
    border-left: 0.2rem solid #4a6741;
}
.md-typeset .success > .admonition-title {
    background-color: #4a6741 !important; /* GoF Dunkelgrün */
    color: white !important;
}

/* 4. Verhaltensmuster (Dunkelblau/Grau) */
.md-typeset .admonition.note {
    border-left: 0.2rem solid #2f4f4f;
}
.md-typeset .note > .admonition-title {
    background-color: #2f4f4f !important; /* Dark Slate Gray */
    color: white !important;
}
